[Unit]
Description=Run a pgBackRest incremental backup every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:20:00
Persistent=true
RandomizedDelaySec=10m
Unit=dotmac-pgbackrest-backup@incr.service

[Install]
WantedBy=timers.target
